<header class="wrapper">
	<nav>
		<a href="/">
			
			<span>TEST</span>
		</a>
	</nav>
</header>

<style>
	nav {
		padding-top: 0.5rem;
		padding-bottom: 1rem;
		height: 3rem;
		font-family: 'CODE', sans-serif;
		font-size: 2em;
		max-width: var(--content-max-width);
		width: 100%;
	}

	@media (max-width: 50em) {
		nav {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		
		padding-left: 0rem !important;
		padding-right: 0rem !important;
	}
	}

	nav {
		display: flex;
		justify-content: space-between;
	}

	svg {
		width: 0.7em;
		height: 0.7em;
	}

	#G {
		font-family: sans-serif;
	}
	#it {
		font-family: sans-serif;
		color: var(--theme-text-lighter) !important;
	}

	path#arancione {
		fill:#e95a0c;
		fill-opacity:1;
		stroke:none;
	}
	path#verde {
		fill:#00973a;
		fill-opacity:1;
		stroke:none;
	}
	rect#blu {
		fill:#28348a;
		fill-opacity:1;
		stroke:none;
	}
	rect#ciano {
		fill:#009ee2;
		fill-opacity:1;
		stroke:none;
	}
	path#rosso {
		fill:#e20613;
		fill-opacity:1;
		stroke:none;
	}
	path#verde-chiaro {
		fill:#93c01f;
		fill-opacity:1;
		stroke:none;
	}

</style>
